<nav>
  <ul>
    <li><a href="/">Writing</a></li>
    <li><a href="/skills">Skills</a></li>
    <li><a href="/code">Code</a></li>
    <li><a href="/contact">Contact</a></li>
  </ul>

  <h4>About Me</h4>
  <div id="bio">
    <p>
      <img src="/avatar.jpg" width="70" alt="Blog logo"/>
      I'm an advocate of the modern web and open source software. I write mostly Elixir, JavaScript, and Python with my current focus on Progressive Web Apps and realtime APIs.
    </p>
  </div>
  <h4>Let's Talk</h4>
  <div>
    <p>Many businesses waste money by using poorly designed or ill fitting software. Get in touch and let's see if I can increase your efficiency or revenue with custom software.</p>
  </div>
  <div id="social">
    {% include social.html %}
  </div>
</nav>
